a.btn {
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 0.95em;
  font-weight: 500;
}
a.btn.full-blue {
  background-color: #1a73e8;
}
a.btn.full-blue:hover {
  opacity: 0.9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

header {
  height: 60px;
  margin: 0 20px;
  display: flex;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 10;
}

header .left {
  height: 100%;
  flex-basis: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header .left img {
  height: 45px;
  position: relative;
  top: 2px;
  cursor: pointer;
}
header .left h2 a {
  margin-left: 10px;
  color: #5f6368;
  font-size: 0.9em;
  font-weight: 400;
}

header .right {
  height: 100%;
  flex-basis: 50%;
  padding-right: 35px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .right .fa-th {
  font-size: 1.3em;
  color: #5f6368;
  margin-right: 10px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}
header .right .fa-th:hover {
  background: #f0f0f0;
}

main .top {
  padding: 80px 20px 20px 20px;
  height: 40px;
  border-bottom: 1px solid #cbcbcb;
  position: fixed;
  width: 100%;
  z-index: 5;
  background-color: white;
}
main .top ul {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
main .top ul li {
  margin-right: 30px;
  font-weight: 500;
  font-size: 1em;
}
main .top ul li a {
  display: inline-block;
  line-height: 40px;
  color: #5f6368;
}
main .top ul li a.active {
  color: #3367d6;
  position: relative;
}
main .top ul li a.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #3367d6;
}

main .bottom {
  padding: 180px 230px 0 230px;
  color: #3c4043;
}
main .bottom .qa-container {
  margin-bottom: 60px;
}
main .bottom .qa-container h2 {
  margin-bottom: 30px;
  font-weight: 500;
}
main .bottom .qa-container .answer p {
  margin-bottom: 30px;
  font-size: 0.9em;
  line-height: 1.6;
}
main .bottom .qa-container .answer p a {
  color: #3367d6;
}
main .bottom .qa-container h3 {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 20px;
}

ol {
  margin-left: 15px;
  list-style-position: outside;
  font-size: 0.9em;
}
ol ol {
  margin: 20px 0;
  margin-left: 15px;
  list-style-type: lower-latin;
  font-size: 1em;
}
ol ol li {
  margin-bottom: 10px;
}
ol + p {
  margin-top: 30px;
}

footer {
  padding: 10px 230px;
  background-color: #f5f5f5;
  color: #5f6368;
  font-size: 0.75em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
footer .left {
  flex-basis: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
footer .left span {
  cursor: pointer;
}
footer .left .fa-circle {
  font-size: 0.15em;
  margin: 0 5px;
}
footer .right {
  flex-basis: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
footer .right select {
  margin-left: 5px;
  width: 150px;
}
