main .top {
  padding: 80px 20px 20px 20px;
  height: 40px;
  border-bottom: 1px solid #cbcbcb;
  position: fixed;
  width: 100%;
  z-index: 5;
  background-color: white;
  ul {
    height: 100%;
    @include flex(flex-start, center);
    li {
      margin-right: 30px;
      font-weight: 500;
      font-size: 1em;
      a{
        display: inline-block;
        line-height: 40px;
        color: $colorText1;
        &.active {
          color: $colorText2;
          position: relative;
          &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 3px;
            width: 100%;
            background-color: $colorText2;
          }
        }
      }
    }
  }
}

main .bottom {
  padding: 180px 230px 0 230px;
  color: $colorText3;
  .qa-container {
    margin-bottom: 60px;
    h2 {
      margin-bottom: 30px;
      font-weight: 500;
    }
    .answer p {
      margin-bottom: 30px;
      font-size: .9em;
      line-height: 1.6;
      a {
        color: $colorText2;
      }
    }
    h3 {
      font-size: 1.1em;
      font-weight: 500;
      margin-bottom: 20px;
    }
  }
}

ol {
  margin-left: 15px;
  list-style-position: outside;
  font-size: .9em;
  ol {
    margin: 20px 0;
    margin-left: 15px;
    list-style-type: lower-latin;
    font-size: 1em;
    li {
      margin-bottom: 10px;
    }
  }
  &+p {
    margin-top: 30px;
  }
}
