// font
$font: 'Roboto', sans-serif;

// background color
$colorBackground: #fff;

// text color
$colorText1: #5f6368;
$colorText2: #3367d6;

// background-color pulsanti
$colorButton1: #1a73e8;

// margini laterali
$margin: 0 20px;
